/* 水平居中 */
text-align:center;
margin:0 auto;
width: fit-content;
flex;
盒模型;
transform;
定位;



/* 垂直居中 */

单行文本，line-height;
行内块级元素: display:inline-block;
vertical-align:middle;
vertical-align;
flex;
盒模型;
transform;
定位



