/* 浮动布局 */

.layout.float .left {
    float: left;
    width: 300px;
}

.layout.float .content {
    /* 中间自适应 */
}

.layout.float .left {
    float: right;
    width: 300px;
}


/* 决定定位布局 */
/* layout.float ---父元素 {
    position: absolute;
} */

layout.float .left {
    left: 0;
    width: 300px;
}

layout.float .center {
    left: 300px;
    right: 300px;
}

layout.float .right {
    right: 0;
    left: 300px;
    right: 300px;

}

/* flex 布局 */

.layout.flexbox --父元素{
    display: flex;
}

.layout.flexbox .left{
    width: 300px;
}

.layout.flexbox .center{
    flex: 1;
}
.layout.flexbox .right{
    width: 300px;
}


